<div>
    <add-brand></add-brand>
    <delete-brand></delete-brand>
    <detail-brand></detail-brand>
    <section class="content-header">
        <h1>
            Brands
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Brands</a></li>
            <li class="active">All</li>
        </ol>
    </section>

    <section ng-style="{'padding':'0 15px'}">
        <a href="javascript:void(0)" ng-click="showfilters = !showfilters">
            <span ng-show="showfilters">Show filters <i class='fa fa-angle-up'></i></span>
            <span ng-hide="showfilters">Hide filters <i class='fa fa-angle-down'></i></span>
        </a>
        <div class="box box-info" ng-hide="showfilters">
            <div class="box-header with-border">
                <h4>Search by:</h4>
            </div>
            <div class="box-body">
                <form>
                <div class="row">
                    <div class="col-xs-3">
                        <input type="text" class="form-control" ng-model="filter.name" placeholder="Title">
                    </div>
                  
                    <div class="col-xs-12"><br/>
                        <button class="btn btn-primary pull-right" type="submit" ng-click="filterBrands()">Search <i class="fa fa-search"></i></button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-y:auto">
                    <div class="box-header">
                        <h3 class="box-title">Brands</h3>
                        <button type="button" class="btn btn-success pull-right" ng-click="addBrandModal()"><i class="fa fa-plus"></i> Add new brand</button>
                    </div>
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Actions</th>
                                    <th>Name</th>
                                    <th>Logo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in brands.data">
                                    <td ng-style="{'white-space': 'nowrap'}">
                                        <a href="javascript:void()" ng-click="editBrandModal(p)" title="Edit brand"><i class='fa fa-edit'></i><small> edit</small></a> |
                                        <a href="javascript:void()" ng-click="deleteBrandModal(p)" class="text-danger" title="Delete brand"><i class='fa fa-trash'></i> <small>delete</small></a>
                                    </td>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.brand.name }}</td>
                                    <td><img src="images/brands/{{ p.image_path }}" alt="" style="height: 70px;"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-xs-12 text-center">
                             <h5 class="text-danger" ng-if='brands.total <= 0'><b>No data</b></h5>
                        </div>
                    </div>
                </div>
                <ul uib-pagination total-items="brands.total" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
                <p class="pull-right">Total: {{ brands.total }}</p>
            </div>
        </div>
    </section>
   
</div>
