
.advancedDemo .dropzone ul[dnd-list] {
    margin: 0px;
    padding-left: 0px;
}

.advancedDemo .dropzone li {
    display: block;
}


.advancedDemo .dropzone .dndDragging {
    opacity: 0.7;
}

.advancedDemo .dropzone .dndDraggingSource {
    opacity: 0.5;
}

.advancedDemo .dropzone .dndPlaceholder {
    background-color: #ddd !important;
    display: block;
}

.advancedDemo .dropzone .itemlist > li {
    background-color: #337ab7;
    border: none;
    border-radius: .25em;
    color: #fff;
    float: left;
    font-weight: 700;
    min-height: 90px;
    margin: 0px;
    padding: 3px;
    text-align: center;
    width: 80px;
}

.advancedDemo .dropzone .container-element {
    margin: 10px;
}

.advancedDemo .dropzone .container-element__input {
    width:30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid #333;
    position:absolute;
    bottom:10px;
    z-index:100;
    left:10px
}
