<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-7 single-img" ng-repeat="i in product.images | filter: {position: 'main'}">
                <img src="./api/uploads/images/products/{{i.image_path}}" alt='product'>
            </div>
            <div class="col-md-5 single-info">
                <h2>{{ product.title }}</h2>
                <h3 class="price">{{ product.price | number:2 }} &euro;</h3><br />
                <!-- <p class="info-label">
                    COLOUR: Black
                </p> -->
                <div class="available-colors">
                    <div class="color-circle" style="background: #{{product.color}}"></div>
                </div>
                <p class="info-label">Size:</p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="sizes">
                            <div ng-repeat="s in sizes" ng-class="{'disable': isSizeExist(s.id) }" class="size">
                                {{ s.size }}
                                <div ng-if="isSizeExist(s.id)" class="disable-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="size-guide">
                    <a href="#">Size Guide</a>
                </div>
                <div class="row add-to-shopping-cart">
                    <div class="col-md-12">
                        <button class="btn btn-add-to-shopping-cart btn-block">Add to shopping cart</button>
                    </div><br />
                </div>
                <div class='collapse-info'>
                    <button type="button" class="btn btn-collapse btn-block" data-toggle="collapse"
                        data-target="#product-description">
                        Description
                        <i class="fa fa-angle-down pull-right"></i>
                    </button>
                    <div id="product-description" class="collapse">
                        <span ng-bind-html="product.description"></span></p>
                    </div>
                    <button type="button" class="btn btn-collapse btn-block" data-toggle="collapse"
                        data-target="#item-information">
                        Item information <i class="fa fa-angle-down pull-right"></i>
                    </button>
                    <div id="item-information" class="collapse">
                        <span ng-bind-html="product.item_information"></span>
                    </div>
                    <button type="button" class="btn btn-collapse btn-block" data-toggle="collapse"
                        data-target="#shipping-and-returns">
                        Shipping &amp; returns <i class="fa fa-angle-down pull-right"></i>
                    </button>
                    <div id="shipping-and-returns" class="collapse">
                        Default text for shipping.
                    </div>
                </div>
                <div class="share-item">
                    <div>
                        <div style="display:inline-block;margin-right: 30px;">Share this item </div>
                        <div class="circle-share"><i class="fa fa-envelope"></i></div>
                        <div class="circle-share"><i class="fa fa-instagram"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content" style="position:relative;margin:20px 0;">
            <slick class="slider" settings="slickConfig" ng-if="slickConfigLoaded" dots="true">
                <div ng-repeat="i in product.images | filter: {position: 'slider'}">
                    <div class="" style="width:100%">
                        <img src="./api/uploads/images/products/{{i.image_path}}" style="width:100%;max-height: 815px;object-fit: contain" alt="image" />
                    </div>
                </div>
            </slick>
            <button ng-click="slickConfig.method.slickPrev()" class="left-product-slick">
                <i class="fa fa-angle-left"></i>
            </button>
            <button ng-click="slickConfig.method.slickNext()" class="right-product-slick">
                <i class="fa fa-angle-right"></i>
            </button>
        </div>
    </div>
    <div class="container product__cover">
        <div class="product__cover--div" ng-repeat="i in product.images | filter: { position: 'cover' } | limitTo: 1">
            <img src="./api/uploads/images/products/{{i.image_path}}" alt='cover'>
        </div>
    </div>
    <!-- <div class="container wear-with product-list">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>WEAR WITH</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 product">
                <a href="">
                    <img src="http://dimg.dillards.com/is/image/DillardsZoom/zoom/perry-ellis-big--tall-herringbone-flat-front-pants/04137298_zi_light_beige.jpg"
                        alt=''>
                    <div class="product-info">
                        <p class="product-title">Skinny shirt Ankle Jeans hirt Ankle Jeans hirt Ankle Jeans</p>
                        <p class="product-price">399,00</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 product">
                <a href="">
                    <img src="http://dimg.dillards.com/is/image/DillardsZoom/zoom/perry-ellis-big--tall-herringbone-flat-front-pants/04137298_zi_light_beige.jpg"
                        alt=''>
                    <div class="product-info">
                        <p class="product-title">Skinny shirt Ankle Jeans hirt Ankle Jeans hirt Ankle Jeans</p>
                        <p class="product-price">399,00</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 product">
                <a href="">
                    <img src="http://dimg.dillards.com/is/image/DillardsZoom/zoom/perry-ellis-big--tall-herringbone-flat-front-pants/04137298_zi_light_beige.jpg"
                        alt=''>
                    <div class="product-info">
                        <p class="product-title">Skinny shirt Ankle Jeans hirt Ankle Jeans hirt Ankle Jeans</p>
                        <p class="product-price">399,00</p>
                    </div>
                </a>
            </div>
        </div>
    </div> -->
</div>