<div id='cover-products'>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6 text-right">
                    <h1>CLOTHING</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="filters">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <select class="form-control">
                        <option value="" selected>Sort By</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-control">
                        <option value="" selected>Price</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-control">
                        <option value="" selected>Size</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="product-list">
        <div class="container">
            <div class="row">
                <div class="col-md-3 product">
                    <a href="">
                    <img src="http://dimg.dillards.com/is/image/DillardsZoom/zoom/perry-ellis-big--tall-herringbone-flat-front-pants/04137298_zi_light_beige.jpg" alt=''>
                    <div class="product-info">
                        <p class="product-title">Skinny shirt Ankle Jeans hirt Ankle Jeans hirt Ankle Jeans</p>
                        <p class="product-price">399,00</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 product">
                     <a href="">
                    <img src="http://dimg.dillards.com/is/image/DillardsZoom/zoom/perry-ellis-big--tall-herringbone-flat-front-pants/04137298_zi_light_beige.jpg" alt=''>
                    <div class="product-info">
                        <p class="product-title">Skinny shirt Ankle Jeans hirt</p>
                        <p class="product-price">399,00</p>
                    </div>
                    </a>
                </div>
               <div class="col-md-3 product">
                     <a href="">
                    <img src="http://dimg.dillards.com/is/image/DillardsZoom/zoom/perry-ellis-big--tall-herringbone-flat-front-pants/04137298_zi_light_beige.jpg" alt=''>
                    <div class="product-info">
                        <p class="product-title">Skinny shirt Ankle Jeans hirt</p>
                        <p class="product-price">399,00</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 product">
                     <a href="">
                    <img src="http://dimg.dillards.com/is/image/DillardsZoom/zoom/perry-ellis-big--tall-herringbone-flat-front-pants/04137298_zi_light_beige.jpg" alt=''>
                    <div class="product-info">
                        <p class="product-title">Skinny shirt Ankle Jeans hirt</p>
                        <p class="product-price">399,00</p>
                    </div>
                    </a>
                </div>
                 <div class="col-md-3 product">
                     <a href="">
                    <img src="http://dimg.dillards.com/is/image/DillardsZoom/zoom/perry-ellis-big--tall-herringbone-flat-front-pants/04137298_zi_light_beige.jpg" alt=''>
                    <div class="product-info">
                        <p class="product-title">Skinny shirt Ankle Jeans hirt</p>
                        <p class="product-price">399,00</p>
                    </div>
                    </a>
                </div>
                 <div class="col-md-3 product">
                     <a href="">
                    <img src="http://dimg.dillards.com/is/image/DillardsZoom/zoom/perry-ellis-big--tall-herringbone-flat-front-pants/04137298_zi_light_beige.jpg" alt=''>
                    <div class="product-info">
                        <p class="product-title">Skinny shirt Ankle Jeans hirt</p>
                        <p class="product-price">399,00</p>
                    </div>
                    </a>
                </div>
                 <div class="col-md-3 product">
                     <a href="">
                    <img src="http://dimg.dillards.com/is/image/DillardsZoom/zoom/perry-ellis-big--tall-herringbone-flat-front-pants/04137298_zi_light_beige.jpg" alt=''>
                    <div class="product-info">
                        <p class="product-title">Skinny shirt Ankle Jeans hirt</p>
                        <p class="product-price">399,00</p>
                    </div>
                    </a>
                </div>
                 <div class="col-md-3 product">
                     <a href="">
                    <img src="http://dimg.dillards.com/is/image/DillardsZoom/zoom/perry-ellis-big--tall-herringbone-flat-front-pants/04137298_zi_light_beige.jpg" alt=''>
                    <div class="product-info">
                        <p class="product-title">Skinny shirt Ankle Jeans hirt</p>
                        <p class="product-price">399,00</p>
                    </div>
                    </a>
                </div>
                <div class="text-center">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="newsletter">
        <div class="col-md-12">
            <h3>FIND OUT FIRST ABOUT DISCOUNTS AND UPDATES</h3>
            <br/>
            <div class="col-lg-offset-4 col-lg-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter your email">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Subscribe</button>
                    </span>
                </div>
                <br/>
            </div>
        </div>
    </div>

    <div id="social-networks">
        <div class="container">
            <div class="row">
                <div class="col-md-6 facebook-block">
                    <div class='row'>
                        <div class="col-md-6 fb-image">
                            <img src="assets/images/fb.PNG" alt="">
                        </div>
                        <div class="col-md-6 fb-title">
                            <b>FOLLOW US ON FACEBOOK</b><br/>
                            <small>Follow us to keep up with the latest from<br/>our brands and daily grind</small><br/><br/>
                            <a href="" class="fb-link">
                                <div>
                                    <i class="fa fa-facebook"></i> @Nickname
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 instagram-block">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="http://www.endlesslyelated.com/wp-content/uploads/2015/09/lunch-meeting-fashion-200x200.jpg" alt="">
                        </div>
                        <div class="col-md-4">
                            <img src="http://www.endlesslyelated.com/wp-content/uploads/2015/09/lunch-meeting-fashion-200x200.jpg" alt="">
                        </div>
                        <div class="col-md-4">
                            <img src="http://www.endlesslyelated.com/wp-content/uploads/2015/09/lunch-meeting-fashion-200x200.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 instagram-title">
                            <b>FOLLOW US ON INSTAGRAM</b><br/>
                            <small>Follow us to keep up with the latest from<br/>our brands and daily grind</small><br/><br/>
                            <a href="" class="fb-link">
                                <div>
                                    <i class="fa fa-instagram"></i> @Nickname
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>