<div id='cover-products'>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-right">
                <h1>CLOTHING</h1>
            </div>
        </div>
    </div>
</div>
<div id="filters">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <select class="form-control">
                    <option value="" selected>Sort by</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="" selected>Price</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="" selected>Size</option>
                </select>
            </div>
        </div>
        <div class="row">
            <span class="items-length">654 items</span>

        </div>
    </div>
</div>
<div class="product-list">
    <div class="container">
        <div class="row">
            <div ng-repeat="product in products.content" class="col-md-3 product">
                <a href="single.html">
                    <div class="product__image"
                        ng-style="{'background': 'url(./api/uploads/images/products/{{ product.images[0].image_path }}) center center no-repeat', 'background-size': 'auto 100%'}">
                    </div>
                    <div class="product-info">
                        <p class="product-title">{{ product.title }} {{ product.images[0].image_path }}</p>
                        <p class="product-price" ng-if="!product.price_discount">{{ product.price | number: 2 }}</p>
                        <p class="product-price" ng-if="product.price_discount">{{ product.price_new | number: 2 }}
                            <span ng-style="{'color': 'red'}" class="fa fa-angle-down"></span></p>
                    </div>
                </a>
            </div>
            <div class="text-center col-md-12">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>